body {
    margin: 0;
    width: 100vw;
    height: 200vh;
    background-image: url('image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#cuadrado {
    width: 200px;
    height: 200px;
    background: aqua url('image2.jpg') no-repeat center;
}

.fondo-con-imagen {
    width: 400px;
    height: 400px;
    background-image: url('image3.jpg');
    background-size: cover;
    background-position: center;
}