<footer>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi obcaecati cum placeat numquam, itaque similique sapiente dicta porro asperiores officia necessitatibus non qui nobis. Ipsam.</p>
</footer>